<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Relaxation.Properties.Settings.db_users1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\db_users1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Relaxation.Properties.Settings.db_users1ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\Relaxation\bin\Debug\db_users1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>